* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Header Section */

header {
  background-color: #1f2937;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 200px;
}

.logo {
  color: #f9faf8;
  font-size: 24px;
  font-weight: 900;
}

header a {
  color: #e5e7eb;
  text-decoration: none;
  font-size: 18px;
}

ul {
  list-style-type: none;
  display: flex;
  gap: 20px;
}

/* Hero Section */
.hero {
  background-color: #1f2937;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding: 150px 200px 200px 200px;
}

.hero .title {
  font-size: 48px;
  color: #f9faf8;
  font-weight: bolder;
}

.hero .text {
  font-size: 18px;
  color: #e5e7eb;
  margin: 4px 0 12px 0;
}

.hero button {
  background-color: #3882f6;
  color: #f9faf8;
  border: none;
  padding: 4px 16px;
  border-radius: 4px;
  font-weight: bold;
  font-size: 18px;
}

/*Main Section */
main {
  padding: 26px 0 80px 0;
  height: 500px;
}
main .header {
  font-size: 36px;
  font-weight: 900;
  color: #1f2937;
  text-align: center;
  padding-bottom: 30px;
}
main .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 36px;
}

main .container .box {
  width: 200px;
  color: #555;
  text-align: center;
}

main img {
  height: 200px;
  width: 200px;
}

main .container .box img {
  border: 3px solid #3882f6;
  border-radius: 8px;
}

main .text {
  font-size: 18px;
}

/* Quote Section */
.quote {
  background-color: #e5e7eb;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quote .container {
  font-size: 36px;
  width: 50%;
}

.quote .text {
  font-style: italic;
}

.quote .name {
  text-align: right;
  font-weight: bold;
  padding-right: 20px;
  padding-top: 8px;
  font-size: 26px;
}

/* Action Section */
.action {
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 200px;
}

.action .container {
  background-color: #3882f6;
  color: #f9faf8;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  padding: 80px 200px;
  border-radius: 10px;
  gap: 50px;
}

.action .container .title {
  font-weight: 700;
  font-size: 18px;
}

.action button {
  background-color: #3882f6;
  color: #f9faf8;
  border: 2px solid #f9faf8;
  font-size: 18px;
  padding: 4px 36px;
  border-radius: 10px;
  font-weight: 700;
}
